/* Tabs styles */
.tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tab button {
    background-color: #f1f1f1;
    border: none;
    color: #333;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.tab button.active {
    background-color: #333;
    color: #fff;
}

/* Buttons styles */
.button {
    display: inline-block;
    background-color: #082b75;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #9c9e17;
}

/* Filter styles */
.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.filter button {
    background-color: #f1f1f1;
    border: none;
    color: #333;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.filter button.active {
    background-color: #333;
    color: #fff;
}

/* Section styles */
.section {
    margin-top: 30px;
}

.section h2 {
    margin-bottom: 20px;
}

/* Textbox styles */
.textbox {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

/* Link styles */
a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
body {
    background-image: url('dominik-schroder.jpg');
    background-size: cover; /* Scale the image to cover the entire background */
    background-repeat: no-repeat; /* Prevent the image from repeating */
  }
  nav {
    background-color: #191372dc;
    overflow: hidden;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #111;
  }
  